

<%= form_for(@task, remote: true) do |f| %>
  <div class="form">
    <% if @task.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

        <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :description %><br>
      <%= f.text_area :description, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :deadline_on %>
      <div class="input-group date datetimepicker">
        <%= f.text_field :deadline_on, class: 'form-control' %>
        <span class="input-group-addon" style="border-radius: 0px; border: none;">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
      <span id="helpBlock2" class="help-block" style="color: red;">Date can't be in the past.</span>
    </div>
    <div class="actions">
      <%= f.submit "#{@type} Task", class: 'btn btn-primary', style: 'width: 100%;' %>
    </div>
  </div>
  
<% end %>
