<div style="border-bottom: 2px solid #ec7878;">
  Search results
</div>
<div>
  <% unless @search_result.empty? %>
    <% @search_result.each do |task| %>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="font-size: 12px; padding-top: 10px; padding-bottom: 10px;">
        <div class="row">
          <div class="col-md-10 col-sm-10 col-lg-10 col-xs-10">
            <p><%= link_to task.title, task_path(task), remote: true, data: { toggle: 'modal', target: '#myModal2' } %></p>

            <p style="<%= (task.deadline_on < Time.now ? 'color: red; font-weight: bold;' : '') %>"><span style="margin-right: 5px; " class="glyphicon glyphicon-time"></span>
              <%= (task.deadline_on < Time.now ? 'Already past due deadline by'.html_safe : '') %>
              <%= (task.status == 'done' ? task.finished_on.strftime("Finished on %A, %B %-d, %Y") : distance_of_time_in_words_to_now(task.deadline_on) )  %></p>

          </div>
          <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2">
            <div class="pull-right">
              <div class="dropdown">
                <button class="btn btn-default ok-button transpa" style="font-size: 10px; padding: 0px; height: 10px; margin-bottom: 5px;" type="button" data-toggle="dropdown">
                  <i class="glyphicon glyphicon-chevron-down"></i>
                </button>
                <ul class="dropdown-menu pull-right">
                  <% if task.status == 'done' %>
                    <li><%= link_to 'Mark as Undone', task_path(task.id, task: { status: 'ongoing', finished_on: nil }), method: :put, remote: true %></li>
                    <li><%= link_to 'Delete Task', task_path(task), method: :delete, remote: true, data: { confirm: 'Are you sure?' } %></li>
                  <% else %>
                    <li><%= link_to 'Mark As Done', task_path(task.id, task: { status: 'done', finished_on: Date.today }), method: :put, remote: true %></li>
                    <li><%= link_to 'Edit Task', edit_task_path(task), remote: true, data: { toggle: 'modal', target: '#myModal'} %></li>
                    <li><%= link_to 'Delete Task', task_path(task), method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div style="margin-top: 10px; margin-bottom: 10px;">No results found...</div>
  <% end %>
</div>
<%= link_to "<span class='glyphicon glyphicon-chevron-left' style='margin-right: 10px;'></span>Back to tasks".html_safe, home_path ,class: 'btn btn-default', style: 'width: 100%; padding: 12px;'%>